*,
:after,
:before {
  box-sizing: border-box;
}

.segmentify-product-filterify {
  font-family: Inter;
  height: 100%;
  opacity: 0;
  transition: 400ms ease opacity;
  display: flex;
  justify-content: center;
  align-items: center;
}

.segmentify-product-filterify.ready {
  opacity: 1;
}

.segmentify-product-filterify-wrapper {
  width: 100%;
  height: 100dvh;
}

.container {
  max-width: 480px;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

button {
  outline: 0;
  border: none;
  cursor: pointer;
}

.question-title {
  font-weight: 700;
  text-align: center;
  font-size: 1.125rem;
}

.question-subtitle {
  text-align: center;
  color: #7e7e7e;
}

.question-buttons button {
  background-color: #fff;
}

/* question-block type=question */
.question-block[type="question"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.question-block[type="question"] .question-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.question-block[type="question"] button {
  padding: 1rem;
  border-radius: 2rem;
  width: 250px;
  border: 1px solid #000;
  transition: 300ms ease background-color;
}

.question-block[type="question"] button:hover {
  background-color: #000;
  color: #fff;
}

/* question-block type=color */
.question-block[type="color"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.question-block[type="color"] button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 5px solid #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: transparent;
  padding: 0.5rem;
  margin: 3px;
  transition: 300ms ease background-color, 300ms ease color,
    300ms ease outline-color;
  outline: 2px solid transparent;
}

.question-block[type="color"] button::before {
  opacity: 0;
  transition: 300ms ease opacity;
}

button.selected {
  background-color: #000;
  color: #fff;
}

.question-block[type="color"] button.selected {
  outline: 2px solid #000;
}

.question-block[type="color"] button.selected::before {
  position: absolute;
  inset: 0;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(1);
  opacity: 1;
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="currentColor" d="M10 15.688L6.712 12.4l.688-.688l2.6 2.6l6.6-6.6l.688.688z"/></svg>');
}

.question-block[type="color"] button[color="black"] {
  background-color: black;
}

.question-block[type="color"] button[color="red"] {
  background-color: red;
}

.question-block[type="color"] button[color="green"] {
  background-color: green;
}

.question-block[type="color"] button[color="blue"] {
  background-color: blue;
}

.question-block[type="color"] button[color="brown"] {
  background-color: brown;
}

.question-block[type="color"] button[color="navy"] {
  background-color: navy;
}

.question-block[type="color"] button[color="cream"] {
  background-color: #fffdd0;
}

.question-block[type="color"] button[color="beige"] {
  background-color: beige;
}

.question-block[type="color"] button[color="blue"] {
  background-color: blue;
}

.question-block[type="color"] button[color="blue"] {
  background-color: blue;
}

/* question-block type=price */
.question-block[type="price"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.question-block[type="price"] button {
  border: 1px solid #000;
  /* width: 5rem; */
  /* height: 2.5rem; */
  border-radius: 2rem;
  transition: 300ms ease background-color;
}
.question-block[type="price"] .question-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.question-block[type="price"] .question-buttons button {
  flex-basis: 50%;
  flex-basis: calc(50% - 0.25rem);
  flex-grow: 1;
  height: 3rem;
}

.question-block[type="price"] button:hover {
  background-color: #000;
  color: #fff;
}

/* question-controls */

.question-controls .question-control-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.question-controls .question-control-buttons button {
  background-color: #fff;
}

.question-controls .question-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-controls button .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2rem;
  width: 5rem;
  height: 3rem;
  transition: 300ms ease background-color;
}

.question-controls button:hover .icon {
  background-color: #000;
  color: #fff;
}

.question-controls button span {
  color: #7e7e7e;
  margin-top: 0.25rem;
  display: inline-block;
}

.product-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}
.product-card-title {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.5rem;
  font-weight: 600;
}
.product-card-discounted-price,
.product-card-price {
  text-align: center;
  font-weight: 500;
  margin-top: 0.5rem;
}

.product-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card-image img {
  max-width: 100%;
  max-height: 350px;
  height: auto;
}

.product-card-discounted-price {
  color: red;
}

.product-card-button {
  background-color: #000;
  color: #fff;
  border-radius: 2rem;
  display: inline-flex;
  text-align: center;
  width: 60%;
  padding: 0.8rem 1rem;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

.question-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.question-steps .question-step-bullet {
  width: 30px;
  height: 4px;
  background-color: #000;
  opacity: 0.2;
}

.question-steps .question-step-bullet.active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  width: auto !important;
  height: auto !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  color: #000;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 2rem;
}

.product-swiper {
  --swiper-pagination-bullet-horizontal-gap: 1px;
  --swiper-pagination-bullet-width: 30px;
  --swiper-pagination-bullet-size: 4px;
  --swiper-pagination-bullet-border-radius: 3px;
  --swiper-theme-color: #757575;
  --swiper-navigation-size: 0;
  --swiper-navigation-sides-offset: 0px;
}

@media screen and (max-width: 768px) {
  .product-card-image img {
    max-height: 250px;
  }

  .product-card-button {
    width: 75%;
  }
}
